{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Golos Text' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'robotchildren/css/style.css' %}">
    <title>ROBOT CHILDREN</title>
</head>
<body>

<form action="/robotchildren/postsignIn/" method="post">
	{% csrf_token %}
	<br/>
	<label for="Email">Email</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="email" class="mdc-text-field__input" aria-label="Label" id="Email" name="email">
	</label><br><br>

	<label for="password">Password</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="password" class="mdc-text-field__input" aria-label="Label" id="Password" name="pass">
	</label><br><br>
	<label>
		<input type="checkbox" checked="checked" name="remember"> Remember me
	</label><br><br>
	<input class="mdc-button mdc-button--raised" type="submit" value="Sign In">
	<button class="mdc-button mdc-button--raised" type="button" onclick="location.href='{% url 'signup' %} '">Sign Up</button>
</form>
</body>
</html>
