<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Golos Text' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'robotchildren/css/style.css' %}">
    <title>ROBOT CHILDREN</title>
</head>
<body>

<form action="/robotchildren/postsignUp/" method="post">
	{% csrf_token %}
	<br/>
	<h1>Sign Up</h1>
	

<p>Please fill in this form</p>

	<label for="Username" >User Name</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="text" class="mdc-text-field__input" aria-label="Label" id="Username" name="name" placeholder="Your Name">
	</label><br><br>

	<label for="Email" >Email</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="email" class="mdc-text-field__input" aria-label="Label" id="Email" name="email" placeholder="Your Email Id">
	</label><br><br>

	<label for="Password">Password</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="password" class="mdc-text-field__input" aria-label="Label" id="Password" name="pass" placeholder="Your Password">
	</label><br><br>

	<label for="confirm_password">Confirm Password</label>
	<label class="mdc-text-field mdc-text-field--outlined">
		<span class="mdc-notched-outline">
		<span class="mdc-notched-outline__leading"></span>
		<span class="mdc-notched-outline__trailing"></span>
		</span>
		<input type="password" class="mdc-text-field__input" aria-label="Label" id="confirm_password" name="pass-repeat" placeholder="Repeat Password">
	</label><br><br>

	<label>
	<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
	</label><br><br>
	
	<input class="mdc-button mdc-button--raised" type="submit" value="Sign Up">
	<button class="mdc-button mdc-button--raised" type="button" onclick="location.href='{% url 'signin' %} '">Back to Sign In</button>
</form>


</body>
</html>
